[run]
branch = True
include = depict/*
omit = depict/collection/dynamic/*
omit = depict/core/consolidation/util/handlers.py

[report]
omit = depict/collection/dynamic/*
omit = depict/core/consolidation/util/handlers.py

[paths]
source = depict/*
