[run]
branch = True
include = python/depict/*
omit = python/depict/collection/dynamic/*
omit = python/depict/core/consolidation/util/handlers.py

[report]
omit = python/depict/collection/dynamic/*
omit = python/depict/core/consolidation/util/handlers.py

[paths]
source = python/depict/*
